.navbar-right {
    float: right !important;
    margin-right: 30px;
}

.flex{
    display: flex;
    align-items: center;
    
}

em{
    font-size: 1.5em;
    line-height: 1.5em;
}

.logo{
    padding: 2em;
}

.menu{
    height: 100px;
}

a{
    color: #FFF;
    border-radius: 0;
}