<div class="wrapper">
  <div class="sidebar" data-color="blue" data-image="">
    <img class="img-responsive logo" src="../assets/img/logo.svg" alt="" />

    <ul class="nav nav-pills nav-stacked">
      <!-- <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/inicio']">
          <h4>
          <i class="fas fa-home"></i>
          Inicio</h4></a
        >
      </li> -->

      <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/contactos']">
          <h4>
          <i class="far fa-address-book"></i>
          Contactos</h4></a
        >
      </li>


      <li role="presentation" routerLinkActive="active">



        
        <a [routerLink]="['/campanas']">
          <h4>

          <i class="fas fa-sms"></i>
          Campañas
        </h4></a
        >
      
      </li>
      <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/historicos']">
          <h4>
          <i class="fas fa-history"></i>
          Historico
        </h4></a
        >
      </li>
      <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/configuracion']">
          <h4>
          <i class="fas fa-cog"></i>
          Configuración</h4></a
        
        >
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
         
              <h4 style="line-height: 41px;"><span>Bienvenido, </span> <strong>{{ usuario }}</strong></h4>
            
          </li>

          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="http://lorempixel.com/350/230/"
                alt="..."
                class="img-circle"
                width="35px"
                height="35px"
              />
              <!-- <span class="caret"></span> -->
            </a>

            <ul class="dropdown-menu">
              <li><a href="#">Perfil</a></li>
              <li><a href="#">Contaseña</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="logout()">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="main-panel">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <!-- <app-footer></app-footer> -->
  </div>
</div>
