.loading{
    background-color: transparent;
}

input#inlineRadio1 {
    cursor: pointer;
}

.checkbox-inline, .radio-inline {
  
    vertical-align: top;
   
}

thead{
    color: #A8CF45;
    font-size: 1.3em;
}