.contenido{
    width: 40%;
    // display: flex;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

hr{
    border-top: 7px solid rgba(142, 199, 21, 0.876);;
    border-radius: 3px;
}

.publicidad{
    border-radius: 7px;
    border: 3px solid rgb(151, 0, 139);
}

